
* {
    font-size: 62, 5%;
    box-sizing: border-box;
    margin: 0;
    font-family: "Jersey 15", sans-serif;
    font-weight: 10;
  }

  body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    width: 40rem;
    height: auto;
    background-color: #070707;
    -webkit-box-shadow: 0px 5px 15px 8px #b1b1b1;
    box-shadow: 0px 5px 15px 8px #a25aff58;
    align-items: center;
    border-radius: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 12.7rem;
  }
  
  h1 {
    font-size: 3.4rem;
    color: #ffffff;
    text-transform: uppercase;
    cursor: default;
  }
  

  #leaderboard {
    width: 100%;
    position: relative;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #ffffff;
    cursor: default;
  }

  #leaderboard tbody tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
  }
  
  #leaderboard tbody tr:not(:first-child):hover {
    background-color: #000000;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #a95eff60;
  }
  
  #leaderboard tbody tr:nth-child(odd) {
    background-color: #2a2a2a;
  }
  
  #leaderboard tbody tr:nth-child(1) {
    color: #fff;
  }
  
  td {
    height: 5rem;
    font-family: "Jersey 15", sans-serif;
    font-size: 3rem;
    padding: 1rem 2rem;
    font-weight: 100;
    position: relative;
  }
  
  .ribbon {
    width: 42rem;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #202020;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #000000;
    box-shadow: 0px 15px 11px -6px #7373ff9e;
  }
  
  .ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #979797;
    position: absolute;
    z-index: -1;
  }
  
  .ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #ffffff;
    position: absolute;
    z-index: -1;
  }
  
